:root {
    --ifm-global-radius: 1rem;
    --ifm-pre-border-radius: 1rem;
    --ifm-code-border-radius: 0.5rem;
    --ifm-button-border-width: 2px;
    --ifm-container-width-xl: 72vw;
    --bedoc-section-bg: var(--ifm-background-color);
    --bedoc-exp-title-background-color: var(--bedoc-title-background-color);
    --bedoc-exp-title-color: var(--bedoc-title-color);
    --bedoc-changelog-title-background-color: var(--bedoc-title-background-color);
    --bedoc-changelog-title-color: var(--bedoc-title-color);
}

[data-theme='light'] {
    --bedoc-section-bg-darker: rgba(223, 223, 223, 0.4);
    --ifm-button-background-color: var(--ifm-color-primary-light);
    --ifm-admonition-content-color: black;
    --ifm-admonition-border: 1px solid rgb(64 64 64 / 0.08);
    --ifm-color-divider-light: #f35b39;
    --bedoc-overlay-background-color: white;
    --bedoc-overlay-border: 4px solid #c6c6c6;
    --bedoc-footer-background-color: white;
    --bedoc-footer-link-item-color: black;
    --bedoc-title-background-color: #ededed;
    --bedoc-title-color: black;
    /*--bedoc-exp-title-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);*/
    --bedoc-exp-title-border: 3px solid rgb(246, 194, 145);
    --bedoc-changelog-title-border: 3px solid rgb(88 196 220);
}

[data-theme='dark'] {
    --bedoc-section-bg-darker: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
    --ifm-button-background-color: var(--ifm-color-primary-dark);
    --ifm-admonition-content-color: white;
    --ifm-admonition-border: none;
    --ifm-color-divider-light: #ec3c19;
    --bedoc-overlay-background-color: rgb(55, 60, 72);
    --bedoc-overlay-border: 4px solid rgba(0, 0, 0, 0.8);
    --bedoc-footer-background-color: rgb(35 39 47);
    --bedoc-footer-link-item-color: white;
    --bedoc-title-background-color: #1c1e21;
    --bedoc-title-color: white;
    --bedoc-exp-title-border: 3px solid rgb(182 87 0);
    --bedoc-changelog-title-border: 3px solid rgb(88 196 220);
}

html[data-theme='light'] {
    --ifm-background-surface-color: white;
    --ifm-background-color: white;
}

html[data-theme='dark'] {
    --ifm-background-surface-color: rgb(35 39 47);
    --ifm-background-color: rgb(35 39 47);
}

.section-lighter {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: var(--bedoc-section-bg);
}

.section-darker {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: var(--bedoc-section-bg-darker);
    border-top: 2px solid var(--bedoc-section-bg-darker);
}

/**容器边栏与主体比例设定**/
/*.container .row aside {*/
/*    --ifm-col-width: calc(3 / 12 * 100%);*/
/*}*/

/*.container .row main {*/
/*    --ifm-col-width: calc(9 / 12 * 100%);*/
/*}*/

.footer {
    background-color: var(--bedoc-footer-background-color) !important;
}

.footer__link-item {
    color: var(--bedoc-footer-link-item-color) !important;
}

.header-button-container {
    display: flex;
    flex-direction: row;
    width: 32rem;
    align-items: center;
    justify-content: center;
}

.header-button-secondary {
    margin-left: 1rem;
}

@media screen and (max-width: 996px) {
    .header-button-container {
        width: 100%;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .header-button {
        /*width: 100% !important;*/
        margin-top: 1rem;
    }

    .header-button-secondary {
        /*width: 100% !important;*/
        margin-left: unset;
        margin-top: 1.5rem;
    }
}

.header-container .button--lg {
    width: 100%;
}

/**代码块**/
.theme-code-block {
    border-radius: var(--ifm-pre-border-radius) !important;
}

[data-theme='dark'] .prism-code {
    background-color: #16181d !important;
    padding: 0.5rem !important;
}

[data-theme='light'] .prism-code {
    background-color: white !important;
    padding: 0.5rem !important;
    box-shadow: 0 0.8px 2px rgba(0, 0, 0, .032), 0 2.7px 6.7px rgba(0, 0, 0, .048), 0 12px 30px rgba(0, 0, 0, .08);
}

/**info告示**/
[data-theme='dark'] .theme-admonition-info {
    --ifm-alert-foreground-color: rgb(68 172 153);
    background-color: rgb(43 110 98 / 0.2) !important;
}

[data-theme='light'].theme-admonition-info {
    background-color: rgb(244 251 249) !important;
}

.text-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    display: flex;
}

li > p {
    margin-block-start: unset;
    margin-block-end: unset;
}

/**更新日志总标题**/
.changelog_divider {
    color: var(--bedoc-changelog-title-color);
    border-radius: var(--ifm-global-radius);
    padding: 16px;
    line-height: 16px;
    background-color: var(--bedoc-changelog-title-background-color);
    border-bottom: var(--bedoc-changelog-title-border);
}

.experimental_divider {
    line-height: 1em;
    padding: 12px;
    height: auto;
    background-color: var(--bedoc-exp-title-background-color);
    color: var(--bedoc-exp-title-color);
    /*box-shadow: var(--bedoc-exp-divider-shadow);*/
    border-bottom: var(--bedoc-exp-title-border);
    border-radius: var(--ifm-global-radius);
}

img[loading='lazy'] {
    border-radius: var(--ifm-global-radius);
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    box-shadow: 0 2.4px 2px rgba(0, 0, 0, .032), 0 2.7px 6.7px rgba(0, 0, 0, .048), 0 12px 30px rgba(0, 0, 0, .08);
}

@keyframes exp_anim {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 640px;
    }
}

.changelog_sapi_tabs .tabs__item--active {
    color: white;
}

.changelog_sapi_tabs {
    border-radius: var(--ifm-global-radius);
    border-width: 0 0 0 0;
    background-color: unset;
}

.changelog_sapi_tabs .tabs__item {
    border-radius: var(--ifm-global-radius);
    margin-right: 8px;
}

[data-theme='dark'] .changelog_sapi_tabs .tabs__item {
    background-color: #1c1e21;
}

[data-theme='light'] .changelog_sapi_tabs .tabs__item {
    color: black;
    background-color: #ededed;
}

[data-theme='dark'] .changelog_sapi_tabs .tabs__item--active {
    border-bottom-color: var(--ifm-color-primary-darkest);
}

[data-theme='light'] .changelog_sapi_tabs .tabs__item--active {
    border-bottom-color: var(--ifm-color-primary-lightest);
}

.changelog_sapi_tabs .tabs__item:hover {
    border-radius: var(--ifm-global-radius);
}

[data-theme='dark'] .changelog_sapi_tabs .tabs__item:hover {
    background-color: #2a2a2a;
}

[data-theme='light'] .changelog_sapi_tabs .tabs__item:hover {
    background-color: #dadada;
}

/**移除侧边栏右侧描边**/
.theme-doc-sidebar-container {
    border-right: unset !important;
}

.hidden-switch-button {
    border-radius: 5rem;
    padding: 0.64rem;
    line-height: initial;
    border: initial;
    background-color: var(--ifm-background-color);
}

.hidden-switch-button:hover {
    background-color: var(--bedoc-overlay-background-color) !important;
}

.hover-overlay-content {
    border-bottom: var(--bedoc-overlay-border);
    box-shadow: var(--ifm-global-shadow-tl);
    background: var(--bedoc-overlay-background-color);
    border-radius: var(--ifm-global-radius);
    max-width: 80vw;
    width: max-content;
    margin-right: 1rem;
    margin-left: 1rem;
    user-focus: auto;
    pointer-events: unset;
}

.hover-overlay-panel {
    display: inline-flex;
}