hr {
    background-color: #666;
}


[data-theme='dark'] h2.anchor#methods,
[data-theme='dark'] h2.anchor#properties,
[data-theme='dark'] h2.anchor#constructors,
[data-theme='dark'] h2.anchor#hierarchy {
    background-color: var(--ifm-color-primary-light);
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
}

[data-theme='light'] h2.anchor#methods,
[data-theme='light'] h2.anchor#properties,
[data-theme='light'] h2.anchor#constructors,
[data-theme='light'] h2.anchor#hierarchy {
    background-color: var(--ifm-color-primary-darker);
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
}

html[data-theme='light'] {
    --doc-sidebar-width: 360px
}

html[data-theme='dark'] {
    --doc-sidebar-width: 360px
}